
<a href="/admin/category/create" class="btn btn-primary">
    Add A Category
</a>
<br>
<table class="table">
    <thead>
    <tr>
        <th>STT</th>
        <th>Tên hoa</th>
        <th>Hình ảnh</th>
        <th>Giá</th>
        <th>Danh mục</th>
        <th>Sửa</th>
        <th>Xóa</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    {{#each categories}}
        <tr>
            <th scope="row">{{stt}}</th>

            <td>{{name}}</td>

            {{!-- Sửa từ /uploads/ thành /img/ --}}
            <td>
                <img src="/img/{{image}}" alt="{{name}}" class="img-thumbnail" width="100">
            </td>

            <td>{{formatCurrency price}} ₫</td>

            <td>
                {{#if (eq category "bohoa")}}Bó Hoa{{/if}}
                {{#if (eq category "giohoa")}}Giỏ Hoa{{/if}}
                {{#if (eq category "top")}}Top Bán Chạy{{/if}}
            </td>

            <td>
                <a href="/admin/category/edit/{{_id}}">
                    <i class="fa-solid fa-pen-to-square text-warning"></i>
                </a>
            </td>

            <td>
                <form action="/admin/category/{{_id}}?_method=DELETE" method="post">
                    <button type="submit" class="border-0 bg-transparent">
                        <i class="fa-solid fa-trash-alt text-danger"></i>
                    </button>
                </form>
            </td>
        </tr>
    {{/each}}
    </tbody>



</table>