<a href="/admin/product/create" class="btn btn-primary">Thêm sản phẩm mới</a>
<br><br>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Stt</th>
        <th scope="col">Tên hoa</th>
        <th scope="col">Hình ảnh</th>
        <th scope="col">Giá</th>
        <th scope="col">Danh mục</th>
        <th scope="col">Sửa</th>
        <th scope="col">Xóa</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    {{#each products}}
        <tr>
            <th scope="row">{{@index}}</th>
            <td>{{this.name}}</td>
            <td><img src="{{this.image}}" width="60" alt="{{this.name}}"></td>
            <td>{{this.price}}₫</td>
            <td>{{this.category.name}}</td> <td>
            <a href="/admin/product/edit/{{this._id}}">
                <i class="fa-solid fa-pen-to-square text-warning"></i>
            </a>
        </td>
            <td>
                <form action="/admin/product/{{this._id}}?_method=DELETE" method="POST">
                    <button type="submit" style="border:none; background:none;">
                        <i class="fa-solid fa-trash text-danger"></i>
                    </button>
                </form>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>